<!DOCTYPE html>
<html lang="th">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ข้อมูลการจำนำ</title>
    <link rel='stylesheet' href="/bootstrap/css/bootstrap.min.css" />
    <script src="/bootstrap/js/bootstrap.min.js"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Mitr:wght@200;300;400;500;600;700&display=swap"
        rel="stylesheet">
    <style>
        * {
            font-family: "Mitr", sans-serif;
            font-weight: 400;
            font-style: normal;
        }
    </style>
</head>

<body>
    <%- include('./partials/nav.ejs') %>

    <div class="container" style="margin-top: 7.7%;">
        <h2>ข้อมูลการจำนำของลูกค้า ID:</h2>
        <table class="table table-bordered mt-3">
            <thead>
                <tr>
                    <th>ID จำนำ</th>
                    <th>วันที่จำนำ</th>
                    <th>ทองที่จำนำ</th>
                </tr>
            </thead>
            <tbody>
                <% pawns.forEach(pawn=> { %>
                    <tr>
                        <td>
                            <%= pawn.pawnId %>
                        </td>
                        <td>
                            <%= pawn.pawnDate %>
                        </td>
                        <td>
                            <!-- แสดง list ทองที่จำนำ กดเพื่อดูรายละเอียดธุรกรรมทองแต่ละ ID -->
                            <% pawns.forEach(pawn=> { %>
                                <a href="/pawn/gold-payment-history/<%= pawn.goldId %>">
                                    <%= pawn.goldId %>
                                </a>
                                <% }); %>
                        </td>
                    </tr>
                    <% }); %>
            </tbody>
        </table>
    </div>
</body>

</html>